@model CustomSolutionsFirstStepModel
@{
    ViewBag.Title = "Custom Solutions";
}
@using (Html.BeginForm("FirstStep", "CustomSolutions", FormMethod.Post, 
                       new { id = "CustomSolutionsFirstStepForm" }))
{
    <div id="jobAnalysisInstructionsDiv">
        @{ Html.RenderPartial("_FirstStepInstructions"); }
    </div>
    <div id="contactAndCompanyInfoDiv">
        @{ Html.RenderPartial("_ContactAndCompanyInfo", Model); }
    </div>
    <div style="clear: both;">
        <div class="pull-left">
            @Html.ValidationSummary(true)
        </div>
        <div class="pull-right">@Html.SubmitButton("Continue")</div>
    </div>
}
<script>
    $("#CellNumber,#OfficeNumber,#Email").on("blur",
        function() {
            $("#CellNumber,#OfficeNumber,#Email").each(function(i, e) {
                $(e).removeClass("input-validation-error");
                var id = $(e).prop("id");
                $(`.field-validation-error[data-valmsg-for='${id}']`).hide();
            });
        });
</script>