<div class="row">
    <div class="col-xs-12">
        <h3 role="heading">Job Analysis</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>
            Job Analysis is the process of identifying the critical knowledge, skills and abilities and other characteristics essential for the position. This process is designed to assist you in identifying the scales you would like to include in your testing of candidates. Once you identify those that are critical to success, the list will be sent to one of our consultants. They will review it and assist you in choosing an existing profile(s) or building a custom profile for your position.
        </p>
    </div>
    <div class="col-xs-12">
        <label>To Begin:</label>
    </div>
    <div class="col-xs-12">
        <p>
            Please fill in the form below so that we can contact you to assist you in choosing the best fit testing for your position. Provide as much information as desired on the position(s) in the notes section.
        </p>
    </div>
</div>