@model CustomSolutionsSecondStepModel
@{
    ViewBag.Title = "Custom Solutions";
}
@using (Html.BeginForm("SecondStep", "CustomSolutions", FormMethod.Post, new { id = "CustomSolutionsIndexForm" }))
{
    <div class="row">
        <div class="col-xs-12">
            <h2>Choosing the Critical Scales</h2>
        </div>
    </div>
    <div id="CategoryListDiv">
        @Html.Partial("_CustomSolutions_RadioButtons", Model)
    </div>
    @Html.HiddenFor(x => x.IsGeneralSelected)
    @Html.HiddenFor(x => x.SelectedIndustry)
    @Html.Partial("_SecondStepHiddenFields", Model)
}