@model CategoryFilterViewModel

<div class="row">
    <div class="col-xs-12 col-md-6">
        @Html.LabelFor(x => x.Filter.TitleFilter)
        <br />
        @Html.EditorFor(x => x.Filter.TitleFilter, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.LabelFor(x => x.Filter.DescriptionFilter)
        <br />
        @Html.EditorFor(x => x.Filter.DescriptionFilter, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="row" style="padding-top: 5px;">
    <div class="col-xs-12 col-sm-10">
        @{
            Html.RenderPartial("_PagingButtonsForFilter",
                               new PagingButtonsModel(Model.Filter, Model.TotalMatchingResults));
        }
    </div>
    <div class="col-xs-12 col-sm-2">
        <button id="FilterButton" type="button" class="btn btn-default pull-right">Filter</button>
    </div>
</div>

<script src="~/Scripts/CustomSolutions/categoryFilterPartial.js"></script>
<script>
    //This script cannot be extracted into a .js file because of the reference to the Model
    $(document).ready(function () {
        console.log("binding paging");
        $("button.pagingButton").click(function () {
            filterCategories($(this).data("page"), 10);
        });
        $("#FilterButton").click(function () {
            filterCategories(1, 10);
        });
    });
</script>