@using DataTransferObjects.Filters.Concrete
@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Custom Solutions";
}
<script src="~/Scripts/showHideDiv.js"></script>
<script src="~/Scripts/customSolutions.js"></script>
<script>
    var selectedCategories = [];
</script>
<div class="row">
    <div class="col-xs-12">
        <h2>Job Analysis</h2>
    </div>
</div>
@using (Html.BeginForm("Index", "CustomSolutions", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    string hiddenFormInstructionsDivId = "hiddenFormInstructionsDiv";
    string shownFormInstructionsDivId = "shownFormInstructionsDiv";
    @Html.HideRowDiv(hiddenFormInstructionsDivId, shownFormInstructionsDivId, "the instructions again")
    <div class="row borderedRow" id="@shownFormInstructionsDivId">
        @*TODO: Extract out as much of this type of code as possible into another HTML helper.*@
        <div class="col-xs-11">Explanation of form and what it is supposed to accomplish.</div>
        <div class="col-xs-1">
            <button class="btn btn-default glyphicon glyphicon-minus-sign" type="button"
                    onclick="toggleMultiple(@hiddenFormInstructionsDivId, @shownFormInstructionsDivId)"></button>
        </div>
    </div>
    @Html.HideRowDiv("collapsedCompanyAndContactInfo", "contactAndCompanyInfo", "Required Information again.")
    Html.RenderPartial("ContactAndCompanyInfoPartial");
    <div id="CategoryListDiv">@{ Html.RenderPartial("CustomSolutionsPartial", model: Model); }</div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div style="margin: 0 auto; width: 200px;">
                @*TODO: Write the submit script to submit the array of selected items, along with the contact information*@
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>
        }