@model CustomSolutionsViewModel
@{
    ViewBag.Title = "Custom Solutions";
}
<script src="~/Scripts/CustomSolutions/index.js"></script>
<script src="~/Scripts/CustomSolutions/categoryFilterPartial.js"></script>
@using (Html.BeginForm("Index", "CustomSolutions", FormMethod.Post, new { id = "CustomSolutionsIndexForm", @class = "row" }))
{
    SectionWithTogglesAndTitleViewModel explanationViewModel = new SectionWithTogglesAndTitleViewModel("show the form instructions again.",
        "hiddenFormInstructionsDiv", "hideFormInstructionsButton",
        "showFormInstructionsButton", "shownFormInstructionsDiv",
        "~/Views/CustomSolutions/FormInstructionsContentPartial.cshtml",
        "Job Analysis");
    Html.RenderPartial("SectionWithPanelHeadAndToggles", explanationViewModel);

    SectionWithTogglesAndTitleViewModel companyAndContactInfoViewModel = new SectionWithTogglesAndTitleViewModel("show the Required Information again.",
        "collapsedCompanyAndContactInfo", "hideCompanyAndContactInfoButton",
        "showCompanyAndContactInfoButton", "contactAndCompanyInfo",
        "~/Views/CustomSolutions/ContactAndCompanyInfoPartial.cshtml", "Required Information");
    companyAndContactInfoViewModel.ViewModelForContentView = Model;
    Html.RenderPartial("SectionWithPanelHeadAndToggles", companyAndContactInfoViewModel);

    SectionWithTogglesAndTitleViewModel customSolutionsViewModel = new SectionWithTogglesAndTitleViewModel("show the category information again.",
        "hiddenCategoryListDiv", "hideCategoryInformationButton",
        "showCategoryInformationButton", "CategoryListDiv",
        "~/Views/CustomSolutions/CustomSolutionsPartial.cshtml", "Choosing the Critical Scales");
    customSolutionsViewModel.ViewModelForContentView = Model;
    Html.RenderPartial("SectionWithPanelHeadAndToggles", customSolutionsViewModel);
    <br />
    <div class="col-xs-12 row" style="padding-top: 10px;">
        <div class="col-xs-10">
            @Html.ValidationSummary(true)
        </div>
        <div class="col-xs-2">
            <div style="margin: 0 auto;">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>
}