<div class="industryToggleImg " data-toggledivid="managementInfoDiv">
    <div class="pull-left">
        <h3>Management</h3>
        <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/management.jpeg); background-size: 300px 300px;">
        </div>
    </div>
    <div id="managementInfoDiv" hidden="hidden" class="informationalDiv pull-left">
        <br />
        This category has tests for managers and supervisors.
        <br />
        <ul>
            <li>
                Problem Solving and Jugement<br />
                <ul>
                    <li>Manager Situational Judgement</li>
                    <li>Supervisor Situational Judgement</li>
                    <li>Intellect Survey</li>
                    <li>Work Aptitude Survey</li>
                </ul>
            </li>
            <li>
                Behavioral Fit Profiles<br />
                <ul>
                    <li>General Personality Profile</li>
                    <li>Supervision Profile</li>
                    <li>Manager Profile</li>
                    <li>C-level Profile (custom)</li>
                    <li>OCEAN 5-Factor Personality Profile</li>
                    <li>Positive Attitude Profile</li>
                    <li>Innovation</li>
                    <li>Controller Profile</li>
                    <li>Elite Business Profile</li>
                    <li>Emotional Intelligence</li>
                </ul>
            </li>
            <li>Values</li>
            <li>
                Interests
                <ul>
                    <li>Tests measure specific interests by occupational using Holland scales</li>
                </ul>
            </li>
            <li>
                Abilities
                <ul>
                    <li>Finance, Microsoft Office. See Catalog for a complete listing of these types of tests.</li>
                </ul>
            </li>
            <li>Others</li>
        </ul>
    </div>
</div>