<div class="industryToggleImg" data-toggledivid="adminAndClericalInfoDiv">
    <div class="pull-left">
        <h3>Administration and Clerical</h3>
        <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/administration.jpeg); background-size: 300px 300px;">
        </div>
    </div>
    <div id="adminAndClericalInfoDiv" hidden="hidden" class="informationalDiv pull-left">
        This category has tests for various positions relating to Administration and Clerical duties.
        <br />
        <ul>
            <li>Accounting (AP/AR, billing)</li>
            <li>Administrative</li>
            <li>Support staff</li>
        </ul>
    </div>
</div>