<br />
<div style="margin: 0 auto; width: 100px;">
    <input type="button" value="Back" id="backButtonOnIndexPartialView" class="btn btn-primary" style="width: 100%" />
</div>
<script>
    $(document).ready(function () {
        var $infoDiv = $("#infoDiv");
        var controllerName = "/Home/";
        $("#backButtonOnIndexPartialView").click(function () {
            Navigation.replaceDivContents($infoDiv, controllerName + "Introduction");
        });
    });
</script>