<b>Our Consultants</b><br />
<div class="row" style="margin-bottom: 10px;">
    <div class="col-xs-12 col-md-4 borderedRow">
        <img style="float: left;" src="~/Content/PortraitPlaceholder.png" alt="Consultant 1 Pic" />
        <div style="float: left;">
            Diana L. Clarke<br />
            < Bio Goes Here ><br />
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-push-4 container-fluid borderedRow">
        <div class="row">
            <div class="col-xs-6 col-md-6 col-md-push-6">
                <img src="~/Content/PortraitPlaceholder.png" alt="Consultant 2 Pic" />
            </div>
            <div class="col-xs-6 col-md-6 col-md-pull-6" style="text-align: right;">
                Janet <br />
                < Bio Goes Here ><br />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-pull-4 borderedRow">
        <p>What our consultants offer to you:</p>
        <p>Our consultants allow for a personal touch in your recruitment process, by giving you access to an experienced professional with the knowledge and skills to help you determine exactly what it is you are looking for in your employees-to-be.</p>
    </div>
    @{ Html.RenderPartial("BackButtonPartial"); }
</div>