<p class="centeredHeaderText">Our Consultants</p>
<div class="row" style="margin-bottom: 10px; min-width: 300px;">
    <div class="col-xs-12 col-lg-4 col-lg-push-4">
        <p>What our consultants offer to you:</p>
        <p>Our consultants allow for a personal touch in your recruitment process, by giving you access to an experienced professional with the knowledge and skills to help you determine exactly what it is you are looking for in your employees-to-be.</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 col-lg-pull-4">
        <div style="width: 190px; margin: 0 auto;">Diana L. Clarke, Ph.D.</div>
        <img style="width: 300px; margin: 0 auto; height: 300px; display: block;"
             src="~/Content/DianaClarke.jpg"
             alt="Diana L. Clarke, Ph.D." title="Diana L. Clarke, Ph.D." />
        <br />
        <p>
            Dr. Clarke, a licensed psychologist, has been guiding the identification, acquisition, and development of talent for over 29 years for selection, training, coaching, succession planning and development. She is a skilled assessor and can guide your practices from recruitment to on-boarding. She coaches leaders and guides the development of business strategies that have execution plans and metrics to measure success. She has worked in firms large and small, in most industries. She has many publications and authored tests.
        </p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div style="width: 120px; margin: 0 auto;">Janet Cannon</div>
            <img style="width: 300px; margin: 0 auto; height: 300px; display: block;"
                 src="~/Content/JanetCannon.jpg"
                 alt="Janet Cannon" title="Janet Cannon" />
        <br />
        <p>Janet Cannon is a 25 plus year veteran of sales and management training, organizational development and human resources. She works as a strategic partner specializing in developing and implementing innovative programs in human resources and sales that optimize profit margins and impact profitability.    Getting the right people and retaining the best people in the correct positions in a company is a critical part of this process she has partnered with Dr. Clarke and Hire Right Testing. Her  expertise is focused on manufacturing, IT, medical practices, Dentists and Veterinarians.</p>
    </div>

    @{ Html.RenderPartial("BackButtonPartial"); }
</div>