@model IList<JobAnalysisCategoryViewModel>
@{
    ViewBag.Title = "Custom Solutions";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Job Analysis</h2>
    </div>
</div>
@using (Html.BeginForm("CustomSolutions", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-xs-12">Explanation of form and what it is supposed to accomplish.</div>
    </div>
    Html.RenderPartial("CustomSolutionsPartial", model: Model);
    <div class="row">
        <div class="col-xs-12">
            <div style="margin: 0 auto; width: 200px;">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </div>
    </div>
}