<div onclick="toggleDiv('#customerServiceInfoDiv')">
    <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/PortraitPlaceholder.png)">
        <span><h3>Customer Service & Sales</h3></span>
    </div>
    <div id="customerServiceInfoDiv" hidden="hidden" class="informationalDiv">
        This category has tests for various positions relating to Customer Service and Sales.
        <ul>
            <li>
                Customer Service
                <ul>
                    <li>Call Center Service</li>
                    <li>Call Center Sales</li>
                    <li>Customer Service</li>
                </ul>
            </li>
            <li>
                Sales
                <ul>
                    <li>Consultative</li>
                    <li>Inside Sales</li>
                    <li>Sales Leadership</li>
                </ul>
            </li>
        </ul>
    </div>
</div>