@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-8 col-md-4">
            <h1 class="text-shadow-gray">Hire Right Testing</h1>
            <h3 class="text-shadow-gray" style="padding-left: 60px;">
                <i>Hire Right, the First Time</i>
            </h3>
        </div>
        <div class="col-xs-4 col-md-8">
            <h4>Hire Right Consultants can help you get it right the first time. Our testing includes discussion with our experienced consultants to identify the best assessments for you.</h4>
        </div>
    </div>
</div>
<div class="row visible-md visible-lg" style="margin: 0 2%;">
    <ul class="list-item-no-bullet">
        <li class="btn btn-default col-md-4" onclick="replaceInfoDivHtmlWith('#WhyUseHireRight');">Why Use Hire Right?</li>
        <li class="btn btn-default col-md-3" onclick="replaceInfoDivHtmlWith('#Consultants');">Consultants</li>
        <li class="btn btn-default col-md-4" onclick="replaceInfoDivHtmlWith('#WhoWeServe');">Occupational Categories</li>
    </ul>
</div>
<div class="row visible-xs visible-sm" style="margin: 0 2%;">
    <ul class="list-item-no-bullet" style="margin: 0; padding: 0;">
        <li style="margin-top: 3px; margin-bottom: 3px;" class="btn btn-default col-xs-12" onclick="replaceInfoDivHtmlWith('#WhyUseHireRight');">Why Use Hire Right?</li>
        <li style="margin-top: 3px; margin-bottom: 3px;" class="btn btn-default col-xs-12" onclick="replaceInfoDivHtmlWith('#Consultants');">Consultants</li>
        <li style="margin-top: 3px; margin-bottom: 3px;" class="btn btn-default col-xs-12" onclick="replaceInfoDivHtmlWith('#WhoWeServe');">Occupational Categories</li>
    </ul>
</div>
<br/>
<div id="infoDiv">
</div>
<div id="introDiv" hidden="hidden">
    @{ Html.RenderPartial("IntroductionPartial"); }
</div>
<div id="WhoWeServe" hidden="hidden">
    @{ Html.RenderPartial("WhoWeServePartial"); }
</div>
<div id="Consultants" hidden="hidden">
    @{ Html.RenderPartial("ConsultantsInformationPartial");}
</div>
<div id="WhyUseHireRight" hidden="hidden">
    @{ Html.RenderPartial("WhyUseHireRightPartial");}
</div>
<script src="~/Scripts/indexDivScripts.js"></script>
<script src="~/Scripts/showHideDiv.js"></script>