@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div style="width: 480px; margin: 0 auto; text-align: center;">
            <h1 class="text-shadow-gray">Hire Right Testing</h1>
            <h3 class="text-shadow-gray">
                <i>
                    Identify, Develop, Retain Talent
                    <br />
                    Hire Right, the First Time
                </i>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br />
        <h4>Hire Right Testing can help you get it right the first time. Our testing includes discussion with our experienced consultants to identify the best assessments for you.</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showWhyUseHireRightListButton">
            Why Use Hire Right Testing?
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showConsultantsListButton">
            Consultants
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showOccupationalCategoriesListButton">
            Industries
        </div>
    </div>
</div>
<br />
<div id="infoDiv">
</div>
<script src="~/Scripts/Navigation/_Navigation.js"></script>
<script>
    $(document).ready(function ()
    {
        var $infoDiv = $("#infoDiv");
        var controllerName = "/Home/";
        Navigation.replaceDivContents($infoDiv, controllerName + "Introduction");
        $("#showWhyUseHireRightListButton").click(function ()
        {
            Navigation.replaceDivContents($infoDiv, controllerName + "WhyUseHireRight");
        });
        $("#showConsultantsListButton").click(function ()
        {
            Navigation.replaceDivContents($infoDiv, controllerName + "Consultants");
        });
        $("#showOccupationalCategoriesListButton").click(function ()
        {
            Navigation.replaceDivContents($infoDiv, controllerName + "Industries");
        });
    });
</script>