@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <h1 class="text-shadow-gray">Hire Right Testing</h1>
            <h3 class="text-shadow-gray" style="padding-left: 60px;">
                <i>Hire Right, the First Time</i>
            </h3>
        </div>
        <div class="col-xs-12 col-md-7">
            <h4>Hire Right Consultants can help you get it right the first time. Our testing includes discussion with our experienced consultants to identify the best assessments for you.</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showWhyUseHireRightListButton">
            Why Use Hire Right?
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showConsultantsListButton">
            Consultants
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="btn btn-default horizontal-List-Button"
             id="showOccupationalCategoriesListButton">
            Occupational Categories
        </div>
    </div>
</div>
<br />
<div id="infoDiv">
</div>
<script src="~/Scripts/replacingDivContents.js"></script>
<script src="~/Scripts/showHideDiv.js"></script>
<script>
    $(document).ready(function () {
        var $infoDiv = $("#infoDiv");
        var controllerName = "/Home/";
        replaceDivContents($infoDiv, controllerName + "Introduction");
        $("#showWhyUseHireRightListButton").click(function () {
            replaceDivContents($infoDiv, controllerName + "WhyUseHireRight");
        });
        $("#showConsultantsListButton").click(function () {
            replaceDivContents($infoDiv, controllerName + "Consultants");
        });
        $("#showOccupationalCategoriesListButton").click(function () {
            replaceDivContents($infoDiv, controllerName + "OccupationalCategories");
        });
    });
</script>