@using HireRight.Persistence.Models.CompanyAggregate
@model List<IndustryWithAssessmentsDto>

@{ var orderedModel = Model.OrderBy(x => x.Title).ToList();}
<div class="row">
    @for (int i = 0; i < orderedModel.Count; i++)
    {
        string imgPath;
        switch (orderedModel[i].Id)
        {
            case Industry.Manufacturing:
                imgPath = "../../Content/manufacturing.jpeg";
                break;
            case Industry.Office:
                imgPath = "../../Content/administration.jpeg";
                break;
            case Industry.Other:
                imgPath = "../../Content/otherIndustries.jpeg";
                break;
            case Industry.Management:
                imgPath = "../../Content/management.jpeg";
                break;
            case Industry.HealthCare:
                imgPath = "../../Content/Medical.jpeg";
                break;
            case Industry.Sales:
                imgPath = "../../Content/Sales.jpeg";
                break;
            case Industry.CustomerService:
                imgPath = "../../Content/professional.jpeg";
                break;
            default:
                continue;
        }
        string divId = $"{orderedModel[i].Title.Replace(" ", "_").Replace("&", "_")}InfoDiv";
        <div class="col-xs-12 col-lg-3 categoryContainer">
            <h5 class="text-center">@orderedModel[i].Title</h5>
            <div style="display: flex; margin-top: 1em; margin-bottom: 1em;">
                <div class="industryToggleImg" data-toggledivid="@divId" style="cursor: pointer; margin: 0 auto;">
                    <div class="pull-left">
                        <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(@imgPath); background-size: 300px 300px;"></div>
                    </div>
                </div>
                <div id="@divId" style="width: 50%;" hidden="hidden" class="informationalDiv pull-left">
                    <br />
                    <ul>
                        @foreach (string assessment in orderedModel[i].Assessments)
                        {
                            <li>@assessment</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $(".industryToggleImg").on("click",
            function () {
                var $container = $(this).closest(".categoryContainer");
                $container.toggleClass("col-lg-3 background-white");
                if (!$container.hasClass("col-lg-3")) {
                    $('html,body').animate({
                        scrollTop: $container.offset().top - 48
                    },
                        250);
                }
                $("#" + $(this).data("toggledivid")).toggle();
            }
        );
    });
</script>