<div class="row">
    <div class="col-xs-12 col-md-6">
        @{ Html.RenderPartial("ComeGetYourJobsImage"); }
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <p class="marg-bottom-15">
                    Unqualified and disgrunted employees <b>poison</b> both your staff and your customers, causing <i>irreparable</i> damage to your revenue stream and the culture of your company. Successful companies know that having the right people in the right roles is key to success, but keeping the right people is the biggest challenge companies face today. Turnover costs companies, on average, <i>25% of annual compensation</i> (SHRM) - this translates into <b>thousands</b> of dollars per employee. This takes your managers and staff away from doing their jobs.
                </p>
            </div>
            <div class="col-xs-12">
                <p class="marg-bottom-15">
                    Hire Right provides pre-employment testing targetted to your industry and specific positions in your business. We sell solutions to your hiring issues, customized to your company's needs. Our custom profiles measure skills, abilities, knowledge, and personal characteristics that are directly related to being a top performer. Find the best fit candidates to improve performance, productivity, and retention.
                </p>
            </div>
            <div class="col-xs-12">
                <p class="noPadNoMarg">
                    We have developed a low cost online tool that is easy to use to measure abilities, aptitudes, and behavioral characteristics such as:
                    <ul class="row">
                        <li class="col-xs-6">Reliability,</li>
                        <li class="col-xs-6">Problem Solving,</li>
                        <li class="col-xs-6">Attention to Detail,</li>
                        <li class="col-xs-6">Mechanical Aptitude,</li>
                        <li class="col-xs-6">Customer Service,</li>
                        <li class="col-xs-6">Sales,</li>
                        <li class="col-xs-6">Attitudes about Drugs,</li>
                        <li class="col-xs-6">Responsibility,</li>
                        <li class="col-xs-6">Math,</li>
                        <li class="col-xs-6">Energy,</li>
                        <li class="col-xs-6">Initiative,</li>
                        <li class="col-xs-6">Trustworthiness,</li>
                        <li class="col-xs-6">and many more!</li>
                    </ul>
                    Best of all, <b>you</b> choose what matters most to you and your company, while our highly qualified expert consultants help guide you through understanding what <b>really</b> indicates performance.
                </p>
            </div>
        </div>
    </div>
</div>