@*This is the desktop version of this view. It has a slightly different ordering
    from the mobile view - this was the cleanest, simplest way of accomplishing this.*@

<div class="col-xs-12 col-md-6">
    @{ Html.RenderPartial("ComeGetYourJobsImage"); }
</div>
<div class="col-xs-12 col-md-6">
    <div class="col-xs-12">
        @{ Html.RenderPartial("UnhappyEmployeesArePoison"); }
        <br/>
    </div>
    <div class="col-xs-12">
        @{ Html.RenderPartial("SalesPitch");}
        <br />
    </div>
    <div class="col-xs-12">
        @{ Html.RenderPartial("Turnover");}
        <br />
    </div>
</div>