<div class="col-xs-12 col-md-6 col-md-push-3 borderedRow">
    <p>
        Hire Right provides pre-employment testing targetted to your industry and specific positions in your business. We assess the traits that impact your specific organization.
    </p>
    <p>
        Our custom profiles measure skills, abilities, knowledge, and personal characteristics that are directly related to being a top performer.
    </p>
    <div>
        <img src="~/Content/indexPicture.jpg" alt="indexImage" />
    </div>
</div>
<div class="col-xs-6 col-md-3 col-md-pull-6 borderedRow">
    <p>
        Unqualified and disgrunted employees poison both your staff and your customers, causing irreparable damage to your revenue stream
        and the culture of your company.
    </p>
</div>
<div class="col-xs-6 col-md-3 borderedRow">
    <p>Turnover costs companies thousands of dollars per employee. The average cost is 25% of the annual compensation (SHRM).</p>
    <p>This takes your managers and staff away from doing their jobs.</p>
</div>