@*This view exists as a mobile-specific view because it was the cleanest method
    of separating the ordering for the mobile and desktop versions of the site.*@

<div class="col-xs-12">
    @{ Html.RenderPartial("SalesPitch");}
</div>
<div class="col-xs-12">
    @{ Html.RenderPartial("ComeGetYourJobsImage"); }
</div>
<div class="col-xs-6">
    @{ Html.RenderPartial("UnhappyEmployeesArePoison"); }
</div>
<div class="col-xs-6">
    @{ Html.RenderPartial("Turnover");}
</div>