@*This is the desktop version of this view. It has a slightly different ordering
    from the mobile view - this was the cleanest, simplest way of accomplishing this.*@

<div class="col-xs-4">
    @{ Html.RenderPartial("UnhappyEmployeesArePoison"); }
</div>
<div class="col-xs-4">
    @{ Html.RenderPartial("SalesPitch");}
</div>
<div class="col-xs-4">
    @{ Html.RenderPartial("Turnover");}
</div>
<div class="col-xs-12">
    @{ Html.RenderPartial("ComeGetYourJobsImage"); }
</div>