<div onclick="toggleDiv('#manufacturingInfoDiv')">
    <div style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/PortraitPlaceholder.png)">
        <span><h3>Manufacturing</h3></span>
    </div>
    <div id="manufacturingInfoDiv" hidden="hidden" class="informationalDiv">
        This category has tests for various positions in the Manufacturing industry.
        <br />
        <ul>
            <li>Industrial Profile</li>
            <li>Mechanical Aptitude Test</li>
            <li>Safety Profile</li>
            <li>Staffing Profile</li>
            <li>Character Profile</li>
            <li>Team Profile</li>
        </ul>
    </div>
</div>