<div onclick="toggleDiv('medicalInfoDiv')">
    <div style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/PortraitPlaceholder.png)">
        <span><h3>Medical</h3></span>
    </div>
    <div id="medicalInfoDiv" hidden="hidden" class="informationalDiv">
        This category has tests for positions in several distinct Medical fields.
        <br />
        <ul>
            <li>Dental</li>
            <li>
                In-Home Care & Residential Care (assisted living & nursing care)
                <ul>
                    <li>Healthcare Profile</li>
                    <li>Elite Care Profile</li>
                    <li>Staffing Profile</li>
                    <li>Character Profile</li>
                    <li>Healthcare Worker Skill Check</li>
                </ul>
            </li>
            <li>Medical Practice Management</li>
            <li>
                Veterinarians
                <ul>
                    <li>Veterinarian Technician</li>
                    <li>Office Manager</li>
                    <li>Billing</li>
                </ul>
            </li>
            <li>Private Practices</li>
            <li>Podiatrists</li>
            <li>Pharmacy</li>
        </ul>
    </div>
</div>