<div class="industryToggleImg" data-toggledivid="otherIndustriesInfoDiv">
    <div class="pull-left">
        <h3>Other Industries</h3>
        <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/otherIndustries.jpeg); background-size: 300px 300px;">
        </div>
    </div>
    <div id="otherIndustriesInfoDiv" hidden="hidden" class="informationalDiv pull-left">
        <br />
        This category has tests for positions in several other prominent industries.
        <br />
        <ul>
            <li>Information Technology</li>
            <li>Hospitals</li>
            <li>Labs & Research Facilities</li>
            <li>
                Transportation
                <ul>
                    <li>Transporation Profile</li>
                    <li>Safety Profile</li>
                    <li>Character Profile</li>
                    <li>Staffing Profile</li>
                    <li>Service Profile</li>
                    <li>Dispatcher</li>
                </ul>
            </li>
            <li>Telecom - Custom Profile for Service Technician</li>
        </ul>
    </div>
</div>