<div onclick="toggleDiv('#professionalServicesInfoDiv')">
    <div class="imgDiv" style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/PortraitPlaceholder.png)">
        <span><h3>Professional Services</h3></span>
    </div>
    <div id="professionalServicesInfoDiv" hidden="hidden" class="informationalDiv">
        This category has tests for various positions in Professional Services.
        <br />
        <ul>
            <li>Legal</li>
            <li>Accounting & Finance</li>
        </ul>
    </div>
</div>