<div onclick="toggleDiv('#startUpInfoDiv')">
    <div style="height: 300px; width: 300px; margin: 0 auto; background: url(../../Content/PortraitPlaceholder.png)">
        <span><h3>Start Up</h3></span>
    </div>
    <div id="startUpInfoDiv" hidden="hidden" class="informationalDiv">
        This category has tests for various positions in Startup companies.
        <br />
        <ul>
            <li>Consulting to build the structure to support your growth</li>
            <li>Design and implement hiring practices to assure success</li>
            <li>Business strategy facilitation and consultation</li>
        </ul>
    </div>
</div>