<p class="centeredHeaderText">Eight Major Categories</p>
<style>
    .informationalDiv {
        margin-left: 20px;
    }
</style>
<div class="row">
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("ManufacturingInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("StartUpInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("AdministrationAndClericalInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("CustomerServiceInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("ProfessionalServicesInformationPartial"); }</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("MedicalInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("OtherIndustriesInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 categoryContainer" style="padding: 5px;">@{ Html.RenderPartial("ManagersInformationPartial");}</div>
</div>
@{ Html.RenderPartial("BackButtonPartial"); }
<script src="~/Scripts/showHideDiv.js"></script>

<script>
    $(document).ready(function() {
        $(".industryToggleImg").on("click", function() {
            $(this).closest(".categoryContainer").toggleClass("col-xs-6 col-lg-4 col-xs-12");
            $("#" + $(this).data("toggledivid")).fadeToggle(250);
        })
    })
</script>