<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4" style="text-align: center;">
        <h3>Eight Major Categories</h3>
    </div>
    <div class="col-xs-4"></div>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("ManufacturingInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("StartUpInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("AdministrationAndClericalInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("CustomerServiceInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("ProfessionalServicesInformationPartial"); }</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("MedicalInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("OtherIndustriesInformationPartial");}</div>
    <div class="col-xs-6 col-lg-4 borderedRow">@{ Html.RenderPartial("ManagersInformationPartial");}</div>
</div>
@{ Html.RenderPartial("BackButtonPartial"); }
<script src="~/Scripts/showHideDiv.js"></script>