<p class="centeredHeaderText">Eight Major Categories</p>
<div class="row">
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("ManufacturingInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("StartUpInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("AdministrationAndClericalInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("CustomerServiceInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("ProfessionalServicesInformationPartial"); }</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("MedicalInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("OtherIndustriesInformationPartial");}</div>
    <div class="col-xs-12 col-lg-4 categoryContainer pad-5">@{ Html.RenderPartial("ManagersInformationPartial");}</div>
</div>
@{ Html.RenderPartial("BackButtonPartial"); }
<script>
    $(document).ready(function () {
        $(".industryToggleImg").on("click",
            function () {
                var $container = $(this).closest(".categoryContainer");
                $container.toggleClass("col-lg-4");
                if (!$container.hasClass("col-lg-4")) {
                    $('html,body').animate({
                        scrollTop: $container.offset().top - 60
                    }, 250);
                }
                $("#" + $(this).data("toggledivid")).toggle();
            });
    });
</script>