<div class="pull-right hidden-xs hidden-sm hidden-md visible-lg marg-bottom-10">
    <img style="width: 900px; height: 950px;" src="~/Content/Images/WhyUseHireRight2.jpg" alt="Why Us?" />
    <br />
    <a style="background-color: black; color: white; text-decoration: none; padding: 4px 6px; font-family: -apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; display: inline-block; border-radius: 3px;" 
       href="https://unsplash.com/&#64;samscrim?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" 
       title="Download free do whatever you want high-resolution photos from Samuel Scrimshaw">
        <span style="display: inline-block; padding: 2px 3px;">
            <svg xmlns="http://www.w3.org/2000/svg" style="height: 12px; width: auto; position: relative; vertical-align: middle; top: -1px; fill: white;" viewBox="0 0 32 32"><title>unsplash-logo</title>
                <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path>
            </svg>
        </span>
        <span style="display: inline-block; padding: 2px 3px;">Samuel Scrimshaw</span>
    </a>
</div>
<h2 class="centered pad-bottom-10">Why use HireRight?</h2>
<h5>Custom Solutions for Custom Environments or Roles</h5>
<ul>
    <li>Quick, online, inexpensive solutions</li>
    <li>No site setup fees, and volume discounts</li>
    <li>Well designed to link testing to success on the job</li>
    <li>Knowledgeable staff to help you choose the best testing for you</li>
    <li>Testing customized to individual companies, cultures, and businesses</li>
    <li>Flexible use of your units, you purchase units and can use any of the 500+ tests in our catalog</li>
</ul>
<h5>Facts</h5>
<ul>
    <li>Keeping the RIGHT people is the biggest challenge today.</li>
    <li>Find the best-fit candidates to improve performance, productivity and retention.</li>
    <li>Customized solutions to your people challenges.</li>
    <li>Low cost, easy to use, online, measures abilities, aptitudes, and behavioral characteristics.</li>
</ul>
<h5>Experience</h5>
<p>
    Diana Clark, PH.D & Janet Cannon allow for a personal touch in your recruitment process, by giving you access to an experienced professional with the knowledge and skills to help you determine exactly what it is you are looking for in your employees to be.
</p>
@{ Html.RenderPartial("BackButtonPartial"); }