<p class="centeredHeaderText">Why use HireRight?</p>
<ul style="width: 100%;">
    <li style="width: 100%">Testing customized to individual companies, cultures, and businesses</li>
    <li style="width: 100%">Quick, online, inexpensive solutions</li>
    <li style="width: 100%">Well designed to link testing to success on the job</li>
    <li style="width: 100%">Knowledgeable staff to help you choose the best testing for you</li>
    <li style="width: 100%">Flexible use of your units, you purchase units and can use any of the 500+ tests in our catalog</li>
    <li style="width: 100%">No site setup fees, and volume discounts</li>
    <li style="width: 100%">
        <b>Custom Solutions for Custom Environments or Roles</b>
    </li>
</ul>
@{ Html.RenderPartial("BackButtonPartial"); }