@*@model ProductDTO

<div style="width: 50%; float: left;">
    @{ Html.RenderPartial("ProductDiscountsPartial", Model.Discounts); }
</div>
<div style="width: 50%; float: left;">
    @Html.ValidatedEditorWithLabelFor(x => Model.Discounts)
</div>*@