@{
    ViewBag.Title = "Order Information";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Hire Right Testing 'Units'</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Order Information Here
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div style="margin: 0 auto; width: 200px;">
            @Html.ActionLink("Make a Purchase", "Index", new { controller = "Order" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
