@{
    ViewBag.Title = "Order Information";
}

<div class="container-fluid panel">
    <div class="panel-head">
        <h2>Hire Right Testing 'Units'</h2>
    </div>
    <div class="row">
        Order Information Here
    </div>
    <div style="margin: 0 auto; width: 200px;">
        @Html.ActionLink("Make a Purchase", "Order", new { controller = "Order"}, new { @class = "btn btn-primary"})
    </div>
</div>