@model CreateOrderViewModel
<div class="col-xs-12 col-md-8">
    <h3>Primary</h3>
    @Html.EditorFor(x => x.Primary)
</div>
<div class="col-xs-12 col-md-4">
    <h3>Secondary (optional)</h3>
    @Html.EditorFor(x => x.Admin)
</div>