@model CreateOrderViewModel
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div>
            <h3>Primary Contact</h3>
        </div>
        <div id="primaryContactInfoDiv">@Html.EditorFor(x => x.Primary)</div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div>
            <h3>Secondary Contact</h3>
        </div>
        <div id="secondaryContactInfoDiv">@Html.EditorFor(x => x.Admin)</div>
    </div>
</div>