@model CreateOrderViewModel
@{
    ViewBag.Title = "Order";
}
@using (Html.BeginForm("Index", "Order", FormMethod.Post, new { @class = "row" }))
{
    SectionWithTogglesAndTitleViewModel companyInfoViewModel = new SectionWithTogglesAndTitleViewModel("show the company information again.",
        "hiddenCompanyInfoDiv", "hideCompanyInfoButton",
        "showCompanyInfoButton", "shownCompanyInfoDiv",
        "~/Views/Order/EditorTemplates/CompanyViewModel.cshtml",
        "Company");
    companyInfoViewModel.ViewModelForContentView = Model.Company;
    Html.RenderPartial("SectionWithPanelHeadAndToggles", companyInfoViewModel);

    SectionWithTogglesAndTitleViewModel contactsInfoViewModel = new SectionWithTogglesAndTitleViewModel("show the contact information again.",
        "hiddenContactInfoDiv", "hideContactInfoButton",
        "showContactInfoButton", "shownContactInfoDiv",
        "~/Views/Order/Contacts.cshtml",
        "Contacts");
    contactsInfoViewModel.ViewModelForContentView = Model;
    Html.RenderPartial("SectionWithPanelHeadAndToggles", contactsInfoViewModel);
    @*<div>
            <div class="col-xs-12 col-md-8 borderedRow">@Html.EditorFor(x => x.Primary)</div>
            <div class="col-xs-12 col-md-4 borderedRow">@Html.EditorFor(x => x.Admin)</div>
        </div>*@

SectionWithTogglesAndTitleViewModel orderDetailsViewModel = new SectionWithTogglesAndTitleViewModel("show the order details again",
    "hiddenOrderDetailsDiv", "hideOrderDetailsButton",
    "showOrderDetailsButton", "shownorderDetailsDiv",
    "~/Views/Order/EditorTemplates/OrdersViewModel.cshtml",
    "Order Details");
orderDetailsViewModel.ViewModelForContentView = Model.Order;
Html.RenderPartial("SectionWithPanelHeadAndToggles", orderDetailsViewModel);
    <div class="row" style="padding-top: 10px; clear: both;">
        <div class="col-xs-12 col-lg-10">@Html.ValidationSummary(true)</div>
        <div class="col-xs-12 col-lg-2">
            <div style="text-align: center;">
                <input type="submit" value="Place Order" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}