@model CreateOrderViewModel
@{
    ViewBag.Title = "Order";
}
@using (Html.BeginForm("Order", "Order", FormMethod.Post))
{
    <div class="row">
        @Html.EditorFor(x => x.Company)
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">@Html.EditorFor(x => x.Primary)</div>
        <div class="col-xs-12 col-md-4">@Html.EditorFor(x => x.Admin)</div>
    </div>
    <div class="row">
        @Html.EditorFor(x => x.Order)
    </div>
    <div style="text-align:center;">
        <input type="submit" value="Place Order" class="btn btn-primary" style="width: 250px;" />
    </div>
}