/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

.navbar {
  background-color: #1a53ff;
  color: #000000;
  border: 0;
  border-bottom: 2px solid #000000; }

a {
  color: #66a3ff !important; }

a:hover,
a.primaryLink:hover,
a.alternateLink:hover {
  color: #8533ff !important; }

a.primaryLink {
  color: #ff6600 !important; }

a.alternateLink {
  color: #4d79ff !important; }

.navbar > .container {
  margin-left: 1%;
  margin-right: 1%;
  padding: 0; }

.navbar-brand,
.navbar-nav > li > a {
  color: #000000 !important;
  font-size: 14pt !important; }

.navbar-brand:hover,
.navbar-nav > li > a:hover {
  color: white !important;
  text-shadow: #000000 2px 0px 1px; }

.navbar-nav > li > a.current {
  color: #000000 !important; }

.navbar-nav > li > a.current:hover {
  color: #ffffff !important; }

.navbar-inverse .navbar-brand {
  font-size: 18pt;
  font-weight: bold; }

@media (min-width: 768px) and (max-width: 1252px) {
  div.navbar-collapse.collapse {
    display: none !important; }
  button.navbar-toggle {
    display: block !important;
    right: 1px;
    position: absolute; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .collapsing {
    overflow: hidden !important; }
  ul.nav.navbar-nav > li {
    width: 100%;
    font-size: 18pt !important; } }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
  margin: 0 1% 0 0;
  height: 40px; }

textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-control {
  -o-transition: border-color ease-in-out .5s, box-shadow ease-in-out .5s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  background-image: none;
  border: 2px solid #000000;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #000000;
  display: block;
  height: 40px;
  font-size: 14pt;
  transition: border-color ease-in-out .5s, box-shadow ease-in-out .5s;
  overflow: hidden; }

.field-validation-error {
  color: #f00; }

.field-validation-valid {
  display: none; }

.validation-summary-errors {
  color: #f00;
  font-weight: bold; }

.validation-summary-valid {
  display: none; }

.input-validation-error {
  background-color: #ff6666;
  border: 1px solid #f00; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

.btn {
  border: 2px solid black;
  font-size: 14pt;
  color: #000000;
  font-weight: bold; }

.btn.glyphicon {
  color: #0040ff; }

input[type="submit"],
button[type="submit"] {
  float: right; }

.horizontal-List-Button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  width: 100%; }

.pagingButton {
  min-width: 50px;
  top: 0px; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

.processingIcon {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0040ff;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 25px 45px; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

.list-item-no-bullet li:before {
  display: none; }

.list-item-nested li:before {
  content: "- "; }

.divider {
  border-bottom: 1px solid #335060; }

.scrollHorizontally {
  max-width: 95vw;
  overflow-x: scroll; }

.centeredHeaderText {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 18pt; }

.informationalDiv {
  margin-left: 20px; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

header {
  padding: -10px 0 0 0;
  margin: 0 0 20px 0;
  height: 30px;
  width: 100%;
  display: block; }

body {
  font-size: 14pt;
  padding: 0;
  color: #000000; }

.text-shadow-red {
  text-shadow: #993333 2px 0px 1px; }

.text-shadow-black {
  text-shadow: #000000 2px 0px 1px; }

.text-shadow-gray {
  text-shadow: #808080 2px 0px 1px; }

h1 {
  font-size: 40pt;
  margin: 0; }

h2 {
  font-size: 20pt;
  margin: 0; }

h3 {
  margin: 0;
  font-size: 18pt; }

h4 {
  margin: 0;
  font-size: 16pt; }

h5 {
  margin: 0;
  font-size: 14pt; }

h6 {
  margin: 0;
  font-size: 13pt; }

/*div {
    border: 2px dotted red;
}*/
hr {
  height: 3px;
  background-color: #0040ff;
  border: 0;
  margin: 0;
  padding: 0; }

.footer {
  min-height: 20px;
  clear: both;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-bottom: 4px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 20px 5% 0 5%; }

img {
  width: 100%;
  margin: 4px;
  padding: 0 !important;
  border: 2px solid #000000; }

.imgDiv {
  margin: 4px;
  padding: 0 !important;
  border: 1px solid black; }

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
  white-space: normal; }

.row {
  margin-left: 0;
  margin-right: 0; }

.noPadNoMarg {
  margin: 0;
  padding: 0; }

.categoryDropDownDiv {
  font-size: 11pt !important;
  margin-bottom: 3px;
  margin-top: 3px; }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

@media only screen and (min-width: 45em) {
  body {
    padding: 0 1%; } }

/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.centered, body {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: bold; }

.spinner {
  -webkit-animation: spin 1.25s infinite linear;
  -moz-animation: spin 1.25s infinite linear;
  -o-animation: spin 1.25s infinite linear;
  animation: spin 1.25s infinite linear; }

.list-item-root li:before li:before, .list-item-nested li:before li:before {
  content: "* ";
  color: #993333;
  font-size: 30px;
  vertical-align: middle; }

.footer, .body-content, .panel {
  background-color: #ffffff; }

body {
  background-color: #ffffff; }

.form-control {
  background-color: #b3daff; }

.btn, .btn-primary {
  background-color: #ff8533; }

input[type="submit"],
button[type="submit"] {
  background-color: #ff8533; }

.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

@media only screen and (min-width: 64.25em) {
  body {
    padding: 0 3%;
    font-size: 12pt; }
  .btn {
    font-size: 12pt; }
  .form-control {
    font-size: 12pt; } }

@media only screen and (min-width: 1200px) {
  .pull-right-xl {
    float: right; } }

