@import "_variables.scss";

%centered {
    margin: 0 auto;
}

%headerText {
    color: $black;
    font-weight: bold;
}

%spinner {
    -webkit-animation: spin $spinSpeed infinite linear;
    -moz-animation: spin $spinSpeed infinite linear;
    -o-animation: spin $spinSpeed infinite linear;
    animation: spin $spinSpeed infinite linear;
}

%listItemBefore {
    li:before {
        content: "* ";
        color: $darkRed;
        font-size: 30px;
        vertical-align: middle;
    }
}

%site_main_background {
    background-color: $site_background;
}

%site_side_colors {
    background-color: $site_side_background;
}

%site_highlight_color {
    background-color: $site_highlights_background;
}

%site_button_color {
    background-color: $site_button_color;
}

%submit_button_color {
    background-color: $submit_button_color;
}

%site_default_font_family {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

%borderedTop {
    border-top: 3px solid $darkNavyBlue;
}

%borderedBottom {
    border-bottom: 3px solid $darkNavyBlue;
}

%borderedLeft {
    border-left: 3px solid $darkNavyBlue;
}

%borderedRight {
    border-right: 3px solid $darkNavyBlue;
}