@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

.borderedTop {
    border-top: 2px solid $black;
}

.borderedBottom {
    border-bottom: 2px solid $black;
}

.borderedLeft {
    border-left: 2px solid $black;
}

.borderedRight {
    border-right: 2px solid $black;
}

.borderedRow {
    @extend .borderedVertical;
    @extend .borderedHorizontal;
}

.borderedHorizontal {
    @extend .borderedTop;
    @extend .borderedBottom;
}

.borderedVertical {
    @extend .borderedLeft;
    @extend .borderedRight;
}

