/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.borderedTop, .borderedHorizontal, .borderedRow {
  border-top: 2px solid #000000; }

.borderedBottom, .borderedHorizontal, .borderedRow {
  border-bottom: 2px solid #000000; }

.borderedLeft, .borderedVertical, .borderedRow {
  border-left: 2px solid #000000; }

.borderedRight, .borderedVertical, .borderedRow {
  border-right: 2px solid #000000; }

