/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
.borderedRow, .borderedHorizontal, .borderedTop {
  border-top: 2px solid #000000; }

.borderedRow, .borderedHorizontal, .borderedBottom {
  border-bottom: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedLeft {
  border-left: 2px solid #000000; }

.borderedRow, .borderedVertical, .borderedRight {
  border-right: 2px solid #000000; }

