.btn, .btn-primary {
  background-color: #0ea42f; }

input[type="submit"],
button[type="submit"] {
  background-color: #10bc35; }

.collapseIcon, .pagingButton, .descriptionToggle {
  font-size: 11pt !important;
  background-color: white !important; }

.btn {
  border: 2px solid black;
  font-size: 14pt;
  color: #000000;
  font-weight: bold; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #0a7521;
    color: #ffffff; }

.btn.glyphicon {
  color: #0040ff; }

input[type="submit"],
button[type="submit"] {
  float: right; }

.horizontal-List-Button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  width: 100%; }

.pagingButton {
  min-width: 50px;
  top: 0px; }

