@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

.btn {
    border: 2px solid black;
    @extend %site_button_color;
    font-size: $normal_text_size;
    color: $text_default;
    font-weight: bold;
}

.btn.glyphicon {
    color: $boldBlue-50;
}

.btn-primary {
    @extend %site_button_color;
}

input[type="submit"],
button[type="submit"] {
    float: right;
    @extend %submit_button_color;
}

.horizontal-List-Button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
}

.collapseIcon {
    @extend %collapseButton;
}

.pagingButton {
    @extend %collapseButton;
    min-width: 50px;
    top: 0px;
}

.descriptionToggle {
    @extend %collapseButton;
}