@import "variables.scss";

.importanceToggleButton {
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-top: 2px solid black;
}

.importanceToggleButton:hover {
    background-color: aqua;
}

.lessImportantButton {
    border-right: 1px solid black;
}

.moreImportantButton {
    border-left: 1px solid black;
}

.categoryCard {
    border: 2px solid black;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cardHeader {
    border-bottom: 2px solid black;
    //these margins ensure that the border goes all the way across the top of the card
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 1em;

    & label {
        margin-bottom: 0;
    }
}

.cardDetails :not(.cardHeader) {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.Irrelevant .cardDetails {
    border-top: 5px solid red;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-bottom: 5px solid red;

    & .cardHeader {
        font-size: 0.9em;
    }
}

.LowImportance .cardDetails {
    border-top: 5px solid yellow;
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
    border-bottom: 5px solid yellow;

    & .cardHeader {
        font-size: 1.1em;
    }
}

.HighImportance .cardDetails {
    border-top: 5px solid green;
    border-left: 10px solid green;
    border-right: 10px solid green;
    border-bottom: 5px solid green;

    & .cardHeader {
        font-size: 1.3em;
    }
}

.categoryCard label {
    padding-left: 20px;
    padding-right: 20px;
}

.importanceHeaders {
    border-bottom: 3px solid black;
    margin-bottom: 0.5em;
    & h4 {
        text-align: center;
    }
}

.industryToggle {
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    background-color: $site_button_color;

    &:hover {
        background-color: $boldBlue-65;
    }

    & span {
        padding: 5px 0;
    }
}

.industryToggle.activeIndustry {
    background-color: $boldBlue-65;

    &:hover {
        background-color: $white;
    }
}
