.importanceToggleButton {
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-top: 2px solid black;
}

.importanceToggleButton:hover {
    background-color: aqua;
}

.lessImportantButton {
    border-right: 1px solid black;
}

.moreImportantButton {
    border-left: 1px solid black;
}

.categoryCard {
    border: 2px solid black;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

.categoryCard .cardDetails {
    padding: 2px 10px 5px 10px;
}

.categoryCard label {
    padding-left: 20px;
    padding-right: 20px;
}

.importanceHeaders h4{
    text-align: center;
}