/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
/*$site_background: $veryLightBlue;*/
/*$site_side_background: $darkNavyBlue;*/
/*$site_highlights_background: $skyBlue;*/
@media only screen and (min-width: 64.25em) {
  body {
    padding: 0 3%;
    font-size: 12pt; }
  .btn {
    font-size: 12pt; }
  .form-control {
    font-size: 12pt; } }

@media only screen and (min-width: 1200px) {
  .pull-right-xl {
    float: right; } }

