@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";
@import "_navigation.scss";
@import "_borders.scss";
@import "_inputs.scss";
@import "_buttons.scss";
@import "_animations.scss";
@import "_positioning.scss";
@import "_text.scss";
@import "../bootstrap.css";

html {
    height: 100%;
}


/*div {
    border: 2px dotted red;
}*/

hr {
    height: 3px;
    background-color: $boldBlue-50;
    border: 0;
    margin: 0;
    padding: 0;
}

.footer {
    @extend %site_main_background;
    min-height: 20px;
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-bottom: 4px;
}

.body-content {
    @extend %site_main_background;    
}

img {
    width: 100%;
    margin: 4px;
    padding: 0 !important;
    border: 1px solid $black;
}

.imgDiv {
    padding: 0 !important;
    border: 1px solid black;
}

.panel {
    @extend %site_main_background;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.noPadNoMarg {
    margin: 0;
    padding: 0;
}

.categoryDropDownDiv {
    font-size: 11pt !important;
    margin-bottom: 3px;
    margin-top: 3px;    
}
