@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";
@import "_navigation.scss";
@import "_borders.scss";
@import "_inputs.scss";
@import "_buttons.scss";
@import "_animations.scss";
@import "_positioning.scss";

html {
    /*@extend %centered;*/
}

hr {
    height: 3px;
    background-color: $darkNavyBlue;
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    padding: -10px 0 0 0;
    margin: 0 0 20px 0;
    height: 30px;
    width: 100%;
    display: block;
}

.footer {
    @extend %site_main_background;
    min-height: 20px;
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0;
    padding-bottom: 4px;
}

body {
    @extend %centered;
    @extend %site_side_colors;
    font-size: $normal_text_size;
    padding: 0;
    color: $text_default;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    @extend %site_main_background;
    /*padding: 8px 5% 8px 5%;*/
    padding: 20px 5% 0 5%;
}

img {
    width: 100%;
    margin: 4px;
    padding: 0 !important;
    border: 1px solid black;
}

.imgDiv {
    margin: 4px;
    padding: 0 !important;
    border: 1px solid black;
}

span .image-text-overlay {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.jumbotron {
    /*@extend %site_highlight_color;*/
    background-color: transparent;
    width: 100%;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    /*border: 6px solid $black;*/
}

.panel {
    @extend %site_main_background;
}

/*div {
    border: 2px dotted red;
}*/

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.text-shadow-red {
    text-shadow: $text_shadow_red;
}

.text-shadow-black {
    text-shadow: $text_shadow_black;
}

.text-shadow-gray {
    text-shadow: $text_shadow_gray;
}

h1 {
    @extend %headerText;
    font-size: 40pt;
}

h2 {
    @extend %headerText;
    font-size: 20pt;
    margin: 0;
}

h3 {
    @extend %headerText;
    margin: 0;
    font-size: 18pt;
}

h4 {
    @extend %headerText;
    margin: 0;
    font-size: 16pt;
}

h5 {
    @extend %headerText;
    margin: 0;
    font-size: 14pt;
}

h6 {
    @extend %headerText;
    margin: 0;
    font-size: 13pt;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.collapseIcon {
    font-size: 11pt !important;
}

.noPadNoMarg {
    margin: 0;
    padding: 0;
}