@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

.navbar {
    background-color: $navbar-background;
    color: $navbar-text;
    height: $navbar-height;
    border: 0;
    margin: 0;

    & .container,
    & .container-fluid {
        margin-left: 0;
        margin-right: $gutter;
        padding: 0;
    }

}

.logo {
    cursor: pointer;
    max-width: 300px;
    margin-right: $gutter;

    & img {
        max-width: 300px;
        height: $navbar-height;
        margin: 0;
        background-color: transparent;
        border: none;
    }
}

.nav li a {
    padding: 5px !important;
    margin: 10px 5px;
    /*margin-left: 10px;
    margin-right: 10px;*/
}

a, a:visited {
    color: $navbar-link !important;

    &:hover {
        color: $navbar-link-hover !important;
    }
}

.navbar-brand,
.navbar-brand:visited {
    color: $navbar-brand-text !important;
    font-size: 14pt !important;

    &:hover {
        color: $navbar-brand-hover !important;
        border-right: 2px solid $white;
    }
}

.navbar-nav > li > a,
.navbar-nav > li > a:visited {
    color: $navbar-link !important;
    font-size: 14pt !important;

    &:hover {
        color: $navbar-link-hover !important;
        /*text-shadow: $navbar-brand-hover-shadow 2px 0px 1px;*/
        font-weight: bold;
        /*border-left: 2px solid $white;
        border-right: 2px solid $white;*/
    }

    &.current {
        color: $navbar-current-link !important;

        &:hover {
            color: $navbar-current-link-hover;
            text-shadow: none;
            font-weight: normal;
        }
    }
}

.navbar-inverse .navbar-brand {
    font-size: 18pt;
    font-weight: bold;
}

@media (max-width: 1252px) {
    div.navbar-collapse.collapse {
        display: none !important;
    }

    button.navbar-toggle {
        display: block !important;
        right: 1px;
        position: absolute;

        & .icon-bar {
            background-color: $navbar-link !important;
        }

        &:hover {
            background-color: $logo-blue !important;

            & .icon-bar {
                background-color: $white !important;
            }
        }
    }

    .navbar-collapse.collapse.in {
        display: block !important;
        background-color: $white !important;
        z-index: 999 !important;

            & li {
                padding-left: 5px;
                padding-right: 5px;
            }        
    }

    .collapsing {
        overflow: hidden !important;
    }

    ul.nav.navbar-nav > li {
        width: 100%;
        font-size: 18pt !important;
    }
}
