@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

body {
    margin-top: $navbar-height !important;
    margin-bottom: $footer-height !important;
    border-top: 2px solid $navbar-border-line;
}

.divider {
    border-bottom: 1px solid $darkNavyBlue;
}

.scrollHorizontally {
    max-width: 95vw;
    overflow-x: scroll;
}

.informationalDiv {
    margin-left: 20px;
}

.centered {
    margin: 0 auto;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

//Start - Padding and Margin classes
//source: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
//see also: https://gist.github.com/jareware/4738651
$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 75, 100);
$sides: (top, bottom, left, right);

//Convenient for setting all to 0 with 1 class instead of 4
.pad-0 {
    padding: 0;
}

.marg-0 {
    margin: 0;
}

.noPadNoMarg {
    margin: 0;
    padding: 0;
}

@each $space in $spaceamounts {
    .marg-#{$space} {
        margin: #{$space}px !important;
    }

    .pad-#{$space} {
        padding: #{$space}px !important;
    }

    @each $side in $sides {
        .marg-#{$side}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .pad-#{$side}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}
// End - Padding and Margin classes

//Start - z-index classes
//source: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
//see also: https://gist.github.com/jareware/4738651
$zLevels: (-999, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 999);

@each $zLevel in $zLevels {
    .z-level-#{$zLevel} {
        z-index: $zLevel;
    }
}
// End - z-index classes
