@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

.list-item-no-bullet {
    li:before {
        display: none;
    }
}

.list-item-root {
    li:before {
        @extend %listItemBefore;
    }
}

.list-item-nested {
    li:before {
        @extend %listItemBefore;
        content: "- ";
    }
}

.divider {
    border-bottom: 1px solid $darkNavyBlue;
}

.scrollHorizontally {
    max-width: 95vw;
    overflow-x: scroll;
}

.centeredHeaderText {
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 18pt;
}

.centered {
    @extend %centered;
}

.informationalDiv {
    margin-left: 20px;
}

//Padding and Margin classes
//source: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
//see also: https://gist.github.com/jareware/4738651
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
    @each $side in $sides {
        .marg-#{$side}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }        
        .pad-#{$side}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}
// End - Padding and Margin classes