@import "_variables.scss";
@import "_mixins.scss";
@import "_%classes.scss";

header {
    padding: -10px 0 0 0;
    margin: 0 0 20px 0;
    height: 30px;
    width: 100%;
    display: block;
}

body {
    @extend %centered;
    @extend %site_side_colors;
    font-size: $normal_text_size;    
    color: $text_default;
}

.text-shadow-red {
    text-shadow: $text_shadow_red;
}

.text-shadow-black {
    text-shadow: $text_shadow_black;
}

.text-shadow-gray {
    text-shadow: $text_shadow_gray;
}

.text-header {
    @extend %headerText;
}

.text-blue {
    color: $logo-blue;
}

.text-green {
    color: $logo-green;
}

.text-black {
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6{
    @extend %text-blue;
    @extend %headerText;
    border-bottom-style: solid;
    border-bottom-color: $logo-blue;
    border-bottom-width: 2px;    
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

.bold {
    font-weight: bold;
}

.overflow {
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: auto;
    padding-bottom: 4px;
}

.asterisk-required {
    color: red;
    position: relative;
    top: -0.1em;
    display: inline-block;
}

label {
    color: $logo-blue;
    font-weight: bold;
    margin-top: .5em;
}

.text-center {
    text-align: center;
}

.list-item-no-bullet {
    li:before {
        display: none;
    }
}

.list-item-root {
    li:before {
        @extend %listItemBefore;
    }
}

.list-item-nested {
    li:before {
        @extend %listItemBefore;
        content: "- ";
    }
}