$darkRed: #993333;
$black: #000000;
$lightGray: #808080;
$veryLightBlue: #C5DFF0;
$darkNavyBlue: #335060;
$skyBlue: #5E99C1;

$site_background: $veryLightBlue;
$site_side_background: $darkNavyBlue;
$site_highlights_background: $skyBlue;

$text_default: $black;
$text_shadow_red: $darkRed 2px 0px 1px;
$text_shadow_black: $black 2px 0px 1px;
$text_shadow_gray: $lightGray 2px 0px 1px;

$text_size: 14pt;

$input_background: $skyBlue;
$site_default_font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;

$spinSpeed: 1.25s;
$gutter: 1%;