$darkRed: #993333;
$black: #000000;
$lightGray: #808080;
$veryLightBlue: #C5DFF0;
$darkNavyBlue: #335060;
$skyBlue: #5E99C1;
$fadedLightBlue: #b3daff;
$lightBlue: #66a3ff;
$mediumGray: #6f7376;
$blue:#66a3ff;
$white:#ffffff;
$lightPurple: #b380ff;
$purple: #8533ff;
$darkPurple: #5c00e6;

$site_background: $white;
$site_side_background: $white;
$site_highlights_background: $fadedLightBlue;
$submit_button_color: green;
$site_button_color: $blue;
$site_background: $veryLightBlue;
$site_side_background: $darkNavyBlue;
$site_highlights_background: $skyBlue;

$text_default: $black;
$text_shadow_red: $darkRed 2px 0px 1px;
$text_shadow_black: $black 2px 0px 1px;
$text_shadow_gray: $lightGray 2px 0px 1px;
$small_text_size: 12pt;
$normal_text_size: 14pt;
$large_text_size: 16pt;

$text_size: 14pt;

$input_background: $skyBlue;
$site_default_font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;

$spinSpeed: 1.25s;
$gutter: 1%;