<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link href="http://localhost:13277/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="http://localhost:13277/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>Hire Right Testing</title>
</head>
<body style="padding: 3px;">
<div style="border-bottom: 2px solid #4d4dff; width: 100%;">
    <table style="padding-bottom: 5px; text-align: center; width: 95%;">
        <tr style="text-align: left;">
            <td style="width: 30%;">
                <img alt="Logo"/>
            </td>
            <td style="width: 70%;">
                <h1>Hire Right Testing</h1>
            </td>
        </tr>
    </table>
</div>
<div style="width: 100%;">
    <br/>
    <p>Hello {1},</p>

    <div>{2}</div>
</div>
<div style="border-top: 2px solid black; bottom: 0; height: 40px; position: absolute; width: 97%;">
    <b>&copy; 2016 Hire Right Testing&reg; </b><br/>
    All rights reserved.
</div>
</body>
</html>