@model HireRight.Models.ContactUsViewModel

@{
    ViewBag.Title = "Get In Touch";
}

@using (Html.BeginForm("SubmitContact", "Contact", FormMethod.Post))
{
    <div class="panel">
        <div class="container-fluid">
            @{ Html.RenderPartial("ContactUsInfoPartial", Model);}
        </div>
    </div>
                }