@model ContactUsViewModel
@{
    ViewBag.Title = "Success!";
}
<h4>Thank you for your interest in HireRight!</h4>
<p>Your submission has been completed successfully. At their earliest convenience, Diana or Janet will get back to you with the information you have requested. Please allow up to 72 hours for this to occur. In the event your needs have changed, you should @Html.ActionLink("submit a new request", "Contact", Model) with the updated information, and additionally mention that this is a followup to a previous request.</p>