@model AdminViewModel
<div class="row">
    <div class="col-xs-12 col-md-6">@Html.ValidatedEditorWithLabelFor(x => Model.FirstName)</div>
    <div class="col-xs-12 col-md-6">@Html.ValidatedEditorWithLabelFor(x => Model.LastName)</div>
    <div class="col-xs-12 col-md-6">@Html.ValidatedEditorWithLabelFor(x => Model.Email)</div>
    <div class="col-xs-12 col-md-6">@Html.ValidatedEditorWithLabelFor(x => Model.PhoneNumber)</div>
</div>