@model CompanyViewModel
<div class="row">
    <div class="col-xs-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.CompanyTitle, true)
    </div>
    <div class="col-xs-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.CompanyPosition, true)
    </div>
</div>
<div class="row">
    @Html.EditorFor(x => x.CompanyAddress)
</div>