@model CreateOrderViewModel
<div class="row">
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.Company.CompanyTitle, true)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.ValidatedEditorWithLabelFor(x => Model.Company.CompanyPosition, true)
    </div>
</div>
<div>
    @Html.EditorFor(x => x.Company.CompanyAddress)
</div>