<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Darthruneis.Monads" version="1.0.3" targetFramework="net461" />
  <package id="Effort" version="1.2.0" targetFramework="net45" />
  <package id="Effort.EF6" version="1.3.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="FakeItEasy" version="2.3.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NMemory" version="1.1.2" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
</packages>