
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        We're sorry, but something seems to have gone wrong. The error has been archived and we will look into this issue as soon as possible.
    </div>
</div>