<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
    <!--Will be set during/after deploy to Azure-->
  </connectionStrings>
  <appSettings>
    <add key="MailServiceEmailAddress" value="Hire Right Testing Admin Admin@HireRightTesting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailAccountPassword" value="Password1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DianaEmail" value="dclarke@something.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="JanetEmail" value="janet@something.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ScaleCategoriesXmlDocPath" value="App_Data/InitialScaleCategories.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ScaleCategoriesJsonPath" value="App_Data/ScaleCategories.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailTemplatePath" value="EmailBase.cshtml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>