<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <connectionStrings>
    <add connectionString="Data Source=SQL5023.SmarterASP.NET;Initial Catalog=DB_A1F1E2_HireRightDb;User Id=DB_A1F1E2_HireRightDb_admin;Password=H1r3R1ght@c0unt;"
    name="HireRightDb" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" xdt:Transform="Replace" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="EmailTemplatePath" value="h:\root\home\darthruneis-001\www\hireright\EmailBase.cshtml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpHost" value="mail.hirerighttesting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ScaleCategoriesXmlDocPath" value="h:\root\home\darthruneis-001\www\hireright\InitialScaleCategories.xml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ScaleCategoriesJsonPath" value="h:\root\home\darthruneis-001\www\hireright\ScaleCategories.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HireRightBaseUrl" value="https://www.HireRightTesting.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailServiceEmailAddress" value="postmaster@HireRightTesting.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailAccountPassword" value="W3OjSStxO>ua8bwaxSXfS$h?vK" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DianaEmail" value="silverasoc@aol.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="JanetEmail" value="jcannon330@aol.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>