<div class="col-xs-12">
    <h3>Management Strategies</h3>
</div>
@*Small Screens*@
<div class="col-xs-12 hidden-lg">
    <h5>Management Strategies</h5>
    <p>
        This section of the report offers suggestions for developing or managing the candidate based on his/her Profile responses.
        The diagram below also offers a graphical representation of the areas covered by the Profile. The smaller the area, the more
        coaching/development might be required.
    </p>
    <div class="scrollHorizontally">
        <img src="~/Content/ProfileSamples/Example Management Strategies - Small - Category Breakdown Chart.png" alt="Percentile of Answers by Question Type" />
    </div>
    <div class="row">
        <p class="col-xs-6">
            Given his/her responsible nature, he/she may have low
            tolerance for those who do not behave responsibly.
        </p>
        <p class="col-xs-6">
            This individual takes responsibility for his/her behavior
            and expects those around them to do the same. When
            he/she exhibits responsible and dependable behaviors
            he/she should be praised to show appreciation.
        </p>
        <p class="col-xs-6">
            Some coaching may be required to increase tolerance
            levels if he/she is expected to work with less
            dependable team members.
        </p>
        <p class="col-xs-6">
            When appropriate increase levels of responsibility to
            show your confidence in his/her ability to perform.
        </p>
    </div>
</div>
@*Large Screens*@
<div class="col-lg-12 visible-lg">
    <img src="~/Content/ProfileSamples/Example Management Strategies.png" alt="Management Strategies Section" />
</div>