<div class="col-xs-12">
    <h3>Overall</h3>
</div>
@*Small Screens*@
<div class="col-xs-12 hidden-lg">
    <h5>Total Score Interpretation</h5>
    <p>
        This candidate's total Elite Character Profile score falls within the High range. This candidate is not likely to engage in
        negative or counterproductive behaviors as defined by the scales included in this profile. Integrity and character as defined
        here is an area of strength for this individual. Review individual scale details to better understand strengths and potential
        shortcomings.
    </p>
    <h5>Score Validity</h5>
    <p>
        Candidness: <strong>Low</strong> - The candidate may be attempting to make him/herself look good by answering the questions in a
        socially desirable manner. Follow-up interview questions are recommended, particularly for those individuals
        who scored high on the Positive Attitude Profile scales.
    </p>
    <h5>Score Profile</h5>
    <div class="scrollHorizontally">
        <img src="~/Content/ProfileSamples/Example Overall Score Summary - Score Profile Graph.png" alt="Percentile by Question Type" />
    </div>
    <p>
        The bar graph above shows the candidate's score pattern across all the dimensions assessed by this profile. The pages that
        follow offer detailed insight into each dimension score.
    </p>
</div>
@*Large Screens*@
<div class="col-lg-12 visible-lg">
    <img src="~/Content/ProfileSamples/Example Overall Score Summary with Graph - Large.png" alt="Overall Score Summary Section" />
</div>