<div class="col-xs-12">
    <h3>Interview Guide</h3>
</div>
<div class="col-xs-12">
    <p>
        This report includes follow-up interview questions that focus on those areas where further development might be needed.
        These questions serve as an excellent guide during the hiring process, coaching or developmental efforts to further uncover
        potentially negative behavioral tendencies.
    </p>
    <h5>Drug Free Attitudes</h5>
    <p>
        The candidate responded positively to all questions in this scale, therefore follow-up questions are not provided for this
        dimension.
    </p>
    <h5>Non-Violent Attitudes</h5>
    <p><strong>Question</strong>:</p>
    <p>
        Would you consider most people to be violent and likely to resort to violence if pushed too far? Have you been pushed to the point
        where you had to resort to some form of violence? Please describe the situation.
    </p>
    <div class="scrollHorizontally">
        <img src="~/Content/ProfileSamples/Example Interview Guide - Small - Response Scale.png" alt="Response Scale" />
    </div>
</div>