<div class="col-xs-12">
    <h3>Category Breakdown</h3>
</div>
<div class="col-xs-12 col-lg-6 col-lg-push-6">
    <h5>What the Elite Character Profile Measures</h5>
    <p>
        The Elite Character Profile is a general indicator of the individual's ability to refrain from participating in counterproductive
        behaviors by being trustworthy, drug-free, non-violent and compliant. This battery is appropriate for most jobs.
    </p>
    <h5>Candidness of the Elite Character Profile Results</h5>
    <p>
        This Profile includes a candidness check to determine the degree to which the individual may have exaggerated his/her
        responses in order to present themselves more favorably. The results of this validity check with interpretation is presented
        on the following page.
    </p>
    <h5>Interpreting the Elite Character Profile</h5>
    <p>
        The following page also presents the Total Score Summary and Total Score Interpretation. This is followed by the Score
        Profile. The Score Profile includes the scores for all of the scales. The scores are presented in terms of percentiles. The
        percentile indicates how the candidate scored relative to all other individuals who have taken the assessment. For example,
        if a candidate's score on a particular scale shows as the 75th percentile, this indicates he/she scored better than 75% of all
        other people who have completed that scale.
    </p>
    <p>
        The pages that follow the Score Profile provide detailed interpretations for each of the scales, as well as, management
        strategies and follow-up interview questions one can ask the candidate to obtain more insight with respect to areas needing
        development.
    </p>
</div>
<div class="col-xs-12 col-lg-6 col-lg-pull-6">
    <p>
        The areas assessed by this Profile are:
    </p>
    <div class="scrollHorizontally">
        <img src="~/Content/ProfileSamples/Example Category Breakdown - Small - Categories Breakdown.png" alt="Breakdown of Measured Categories" />
    </div>
</div>