<div class="col-xs-12">
    <h3>Detailed Category Breakdown</h3>
</div>
<div class="col-xs-12 row">
    <div class="col-xs-12 col-lg-6">
        <div class="scrollHorizontally">
            <img src="~/Content/ProfileSamples/Example Detailed Category Breakdown - Small - Percentile.png" alt="Percentile" />
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h5>Score Details</h5>
        <p>
            Drug Free Attitudes measures the degree to which the individual is likely to be free of illegal drug use related problems that
            will affect his/her work. This characteristic is important for most jobs, but especially those involving the use a machinery or
            equipment where the safety of the employee and coworkers could be at risk.
            Robin Price scored in the <strong>94th</strong> percentile on Drug Free Attitudes (High), meaning Robin scored better than 94 percent of
            other candidates who have completed this assessment.
        </p>
    </div>
</div>
<div class="col-xs-12 row">
    <div class="col-xs-12 col-lg-6">
        <div class="scrollHorizontally">
            <img src="~/Content/ProfileSamples/Example Detailed Category Breakdown - Small - Percentile Graph.png" alt="Percentile Graph by Question Type" />
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h5>Strength of Candidate's Responses</h5>
        <p>
            The graphic below shows the candidate's response pattern for the Drug Free Attitudes behavioral dimension. This illustration
            is useful for assessing the strength of the candidate's attitudes and behaviors associated with Drug Free Attitudes.
        </p>
    </div>
</div>
<div class="col-xs-12 row">
    <div class="col-xs-12 col-lg-6">
        <div class="scrollHorizontally">
            <img src="~/Content/ProfileSamples/Example Detailed Category breakdown - Small - Response Pattern Graph.png" alt="Response Pattern" />
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h5>Expected Job Behaviors</h5>
        <div class="col-xs-12 row">
            <div class="col-xs-12 col-md-6">
                This individual is not likely to have illegal
                drug use problems that will affect his or her
                work.
            </div>
            <div class="col-xs-12 col-md-6">
                He/she has strict attitudes against the use of
                illegal drugs in the workplace.
            </div>
        </div>
    </div>
</div>