@{
    ViewBag.Title = "Reports";
}
<h2>Reports</h2>
<div class="row">
    @{ Html.RenderPartial("ExampleCategoriesBreakdownSectionPartial"); }
    @{ Html.RenderPartial("ExampleOverallScoreSectionPartial"); }
    @{ Html.RenderPartial("ExampleCategoryDetailedBreakdownSectionPartial"); }
    @{ Html.RenderPartial("ExampleManagementStrategiesSectionPartial"); }
    @{ Html.RenderPartial("ExampleInterviewGuideSectionPartial"); }
</div>