@{
    ViewBag.Title = "Reports";
}
<h2>Reports</h2>
@{ Html.RenderPartial("SampleReportsIntroSectionPartial"); }

<div class="row">
    <div class="pull-left marg-left-5 marg-right-5">
        <div class="btn btn-default horizontal-List-Button" id="showCategoriesListButton">
            Categories
        </div>
    </div>
    <div class="pull-left marg-left-5 marg-right-5">
        <div class="btn btn-default horizontal-List-Button" id="showOverallListButton">
            Overall
        </div>
    </div>
    <div class="pull-left marg-left-5 marg-right-5">
        <div class="btn btn-default horizontal-List-Button" id="showCategoryDetailsListButton">
            Category Details
        </div>
    </div>
    <div class="pull-left marg-left-5 marg-right-5">
        <div class="btn btn-default horizontal-List-Button" id="showManagementStrategiesListButton">
            Management Strategies
        </div>
    </div>
    <div class="pull-left marg-left-5 marg-right-5">
        <div class="btn btn-default horizontal-List-Button" id="showInterviewGuideListButton">
            Interview Guide
        </div>
    </div>
</div>
<div class="row" id="reportingExplanationDiv"></div>
<script src="~/Scripts/replacingDivContents.js"></script>
<script>
    $(document).ready(function () {
        var $reportingExplanationDiv = $("#reportingExplanationDiv");
        var controllerName = "/Reports/";
        $("#showCategoriesListButton").click(function () {
            replaceDivContents($reportingExplanationDiv, controllerName + "Categories");
        });
        $("#showOverallListButton").click(function () {
            replaceDivContents($reportingExplanationDiv, controllerName + "OverallScore");
        });
        $("#showCategoryDetailsListButton").click(function () {
            replaceDivContents($reportingExplanationDiv, controllerName + "CategoryBreakdown");
        });
        $("#showManagementStrategiesListButton").click(function () {
            replaceDivContents($reportingExplanationDiv, controllerName + "ManagementStrategies");
        });
        $("#showInterviewGuideListButton").click(function () {
            replaceDivContents($reportingExplanationDiv, controllerName + "InterviewGuide");
        });
    });
</script>