@model IEnumerable<SampleForDownloadViewModel>

@{
    ViewBag.Title = "Sample Reports";
}

<div class="row" style="max-height: 75vh; overflow-y: scroll;">
    @foreach (var sample in Model.OrderBy(x => x.ActionName))
    {
        @Html.ProfileSampleDownloadListItem(sample.LinkText, sample.ActionName)
    }
</div>