@model IEnumerable<SampleForDownloadViewModel>

@{
    ViewBag.Title = "Sample Reports";
    var samples = Model.OrderBy(x => x.ActionName).ToList();
}

<div>
    @foreach (var sample in samples)
    {
        sample.IsAlternate = samples.IndexOf(sample) % 2 == 0;
        @Html.Partial("_SampleReportLink", sample)
    }
</div>