<div class="row">
    <div class="col-xs-12">Feel free to reach us in any of the following ways:</div>
    <ul>
        <li><a href="mailto:info@HireRightTesting.com?Subject=Hire%20Right%20Testing%20Question" target="_top">General Inquiries</a></li>
        <li><a href="mailto:dclarke@HireRightTesting.com?Subject=Hire%20Right%20Testing%20Question" target="_top">Diana Clarke</a></li>
        <li><a href="mailto:jcannon@HireRightTesting.com?Subject=Hire%20Right%20Testing%20Question" target="_top">Janet Cannon</a></li>
        <li>Office of Diana Clarke: (330) 239-1646</li>
    </ul>
</div>
