@{
    Layout = "_LayoutWithGutter.cshtml";
}
<div class="pad-top-25 pad-bottom-25">
    <div class="body-content container-fluid background-white-0_75">
        <div class="pad-top-10 pad-bottom-10">
            @RenderBody()
        </div>
    </div>
</div>