
<div class="row">
    <div class="col-xs-12">
        <h3>Problem</h3>
    </div>
</div>
<ul class="row">
    <li class="col-xs-12">How do you <span class="text-blue bold">HIRE</span>, and retain, the <span class="text-green bold">RIGHT</span> people to elevate your business to the next level?</li>
</ul>
<div class="row">
    <div class="col-xs-12">
        <h3>Custom Solutions</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>
            We provide a low cost, easy to use, customizable online tool to measure abilities, aptitudes, and important behavioral characteristics such as:
        </p>
    </div>
</div>
@*<li class="col-xs-12"><span class="text-blue bold">HIRE</span> the best-fit candidates to improve performance, productivity and retention</li>
<li class="col-xs-12">Customized solutions to your people challenges</li>*@
<ul class="row">
    <li class="col-xs-6 col-lg-4">Attention to Detail</li>
    <li class="col-xs-6 col-lg-4">Attitudes about Drugs</li>
    <li class="col-xs-6 col-lg-4">Customer Service</li>
    <li class="col-xs-6 col-lg-4">Energy</li>
    <li class="col-xs-6 col-lg-4">Initiative</li>
    <li class="col-xs-6 col-lg-4">Math</li>
    <li class="col-xs-6 col-lg-4">Mechanical Aptitude</li>
    <li class="col-xs-6 col-lg-4">Problem Solving</li>
    <li class="col-xs-6 col-lg-4">Reliability</li>
    <li class="col-xs-6 col-lg-4">Responsibility</li>
    <li class="col-xs-6 col-lg-4">Sales</li>
    <li class="col-xs-6 col-lg-4">Trustworthiness</li>
    <li class="col-xs-6 col-lg-4">and many more!</li>
</ul>
<div class="row">
    <div class="col-xs-12">
        <p>
            Best of all, <b>you</b> choose what matters most to you and your company, while our highly qualified expert consultants help guide you through understanding what predicts top performance, so that you can <span class="text-blue bold">HIRE</span> <span class="text-green bold"> RIGHT!</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>Why Us?</h3>
    </div>
</div>
<ul class="row">
    <li class="col-xs-12">No site setup fees</li>
    <li class="col-xs-12">Volume discounts</li>
    <li class="col-xs-12">Well designed to link testing to success on the job</li>
    <li class="col-xs-12">Testing customized to individual companies, cultures, and businesses</li>
    <li class="col-xs-12">Flexible use of your units, you purchase units and can use any of the 500+ tests in our catalog</li>
    <li class="col-xs-12">Knowledgeable staff to help you choose the best testing for you</li>
</ul>