<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Darthruneis.Monads" version="1.0.3" targetFramework="net461" />
  <package id="FakeItEasy" version="2.3.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>